#sign_in_box {
    left: 50%;
    top: 50%; }
    #sign_in_box #box {
      height: 50%;
      text-align: center; }
      #sign_in_box #box input {
        width: 30%;
        padding: 5px;
        font-size: large; }

input[type="submit"]{
    background-color: rgba(41, 33, 112, 0.76);
    border: none;
}
input[type="submit"]:hover{
    background-color: rgba(131, 60, 104, 0.76);
}