<link rel="stylesheet" href="/css/footer.css">

<footer id="layout-footer">
    <div class="text">
        <p>
                Copyright&copy; @authosys :Developed By Ravi Shankar
        </p>
    </div>
</footer>