<link rel="stylesheet" href="/css/footer.css">

<footer id="layout-footer">
    <div class="text">
        <p>
                Copyright&copy; @gaggle :Developed By SKB
        </p>
    </div>
</footer>