<link rel="stylesheet" href="/css/resetPassword.css">
<div id="sign_in_box">

<h2>Reset Password</h2>
<div id="box">

<form action="/users/reset-password" method="POST"><br>
<input type="email" name="email" placeholder="Enter your email.." required><br><br>
<input type="submit" value="Reset Password">
</form>
</div>
</div>
