<link rel="stylesheet" href="/css/home.css">


<% if (!locals.user){ %>

<h1>Please Sign Up/Sign-In to your account!</h1>
<%}else{%>
    <h1>Congratulations, You are logged in please visit to your profile page.</h1>
<%}%>
