<link rel="stylesheet" href="/css/user_profile.css">

<div id="sign_in_box">
<h2>
    User Details
</h2>

<div id="box">

<p>NAME: <%=user.name%></p>
<p>EMAIL: <%=user.email%></p>

<form action="/users/changePwd" method="POST">
<input type="password" name="old_pass" placeholder="Old Password" required><br><br>
<input type="password" name="new_pass" placeholder="New Password" required><br><br>
<input type="password" name="confirm_pass" placeholder="Confirm new Password" required><br><br>
<input type="submit" value="Change Password"><br>
</form>
</div>
</div>